In [4]:
import pandas as pd

In [5]:
index = pd.read_csv('C:/Users/mgmgj/Desktop/Minjeong/dacon/dacon/index.csv')
index.head()

   period     catl    catm age gender sido sigungu         cgi
0  201901  건강/의료용품  건강관리용품  20      F   서울     관악구  115.374642
1  201901  건강/의료용품  건강관리용품  20      F   서울     광진구  119.596454
2  201901  건강/의료용품  건강관리용품  20      F   서울     도봉구  156.992847
3  201901  건강/의료용품  건강관리용품  20      F   서울     동작구   58.342726
4  201901  건강/의료용품  건강관리용품  20      F   서울     마포구  145.147595